<nav class="navbar navbar-inverse no-margin navbar-fixed-top">
		<div class="navbar-header fixed-brand">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><i class="fa fa-cloud-upload fa-4"></i> Sharer</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav">
				<li><a href="/upload">Upload</a></li>
				<li><a href="/downloads">Downloads</a></li>
			</ul>
		</div>
	</div>
</nav>
